@mixin botaoPrimario {
  background-color: $corPrimaria;
  color: $branco;
}

@mixin botaoInvertido {
  background-color: $branco;
  border: 1px solid $corPrimaria;
  border-radius: 6px;
  color: $corPrimaria;
}

.btn {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;

  &.primaria {
    @include botaoPrimario;

    &:hover {
      @include botaoInvertido;
    }
  }

  &.invertido {
    @include botaoInvertido;

    &:hover {
      @include botaoPrimario;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}